server {
    listen 80;
    server_name {{ domain }};

    # Redirect /list to the specific Grafana dashboard
    location /list {
        rewrite ^/list$ /d/eeazamyajw2kgc/dashboard-list?orgId=1&from=now-24h&to=now&timezone=browser permanent;
    }

    # Proxy all other requests to Grafana
    location / {
        proxy_pass http://localhost:3000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
